
.ToDoItem {
	padding: 5px;
	font-size: 14px;
}

	.ToDoItem--DONE {
		color: #16a085;
	}

	.ToDoItem:hover .ToDoItem__controls {
		display: inline;
	}

	.ToDoItem__input {
		border: none;
		color: #8e44ad;
		font-size: 14px;
		padding: 0;
		font-style: italic;
		background-color: transparent;
	}

		.ToDoItem__input::placeholder {
			font-style: italic;
		}

		.ToDoItem__input:focus {
			outline: none;
		}

	.ToDoItem__status {
		margin-right: 10px;
		cursor: pointer;
	}

		.ToDoItem__status:hover {

		}

	.ToDoItem__priority {
		width: 20px;
		display: inline-block;
	}

	.ToDoItem__controls {
		display: none;
	}

		.ToDoItem__controls i {
			text-align: right;
			float: right;
			padding: 3px;
			margin-left: 3px;
			cursor: pointer;
		}

			.ToDoItem__controls i:hover {
				color: red;
			}

