
.ToDoItem {
	padding: 2px 5px;
	font-size: 14px;
	display: flex;
	min-height: 25px;
}

	.ToDoItem--DONE .ToDoItem__status,
	.ToDoItem--DONE .ToDoItem__text {
		color: #16a085;
	}

	.ToDoItem--DELETED .ToDoItem__status,
	.ToDoItem--DELETED .ToDoItem__text {
		color: #b5b5b5;
		text-decoration: line-through;
		font-style: italic;
	}

	.ToDoItem--MOVED .ToDoItem__status,
	.ToDoItem--MOVED .ToDoItem__text {
		color: #16a085;
	}

	.ToDoItem > * {
		align-self: center;
	}

	.ToDoItem__priority {
		width: 24px;
		display: inline-block;
	}

	.ToDoItem__status {
		margin-right: 10px;
		cursor: pointer;
	}

	.ToDoItem__text {
		width: 100%;
	}

	.ToDoItem__input {
		border: none;
		color: #8e44ad;
		font-size: 14px;
		padding: 0;
		width: 100%;
		font-style: italic;
		background-color: transparent;
	}

		.ToDoItem__input::placeholder {
			font-style: italic;
		}

		.ToDoItem__input:focus {
			outline: none;
		}
