.MainPage {

}

	.MainPage__container {
		margin: 0 auto 20px;
		max-width: 400px;
		width: 100%;
		background-color: #ecf0f1;
		padding: 20px;
	}

		.MainPage__header {

		}

		.MainPage__list {
			padding: 5px 0;
		}
