.Board {

}

	.Board__container {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
	}

@media (max-width: 600px) {
	.Board__container {
		flex-direction: column;
	}
}
